language: go

go: 1.10.x

matrix:
  include:
    - go: 1.10.x
      env: COVERAGE=true
    - go: 1.9.x
      env: COVERAGE=false

install:
  - go get -t ./...
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls

script:
  - go test -v -covermode=count -coverprofile=coverage.out ./...
  - goveralls -coverprofile=coverage.out -service=travis-ci -repotoken $COVERALLS_TOKEN

env:
  global:
    - secure: "Wmo0t7rIF6eFYXmD8qACjJGqSmfxMlxvX7gDW0ILqxbo6Ud9UuVGnaPyQbzEv0AZCcKHVfgUauURsb4xrdE3tEzjNMCaC0CbeuorGwKKU5oAJ1NXFVuCMfWssJkeSNgIaOHKBGbqA/v1dfYOiCiQznlZBjslKjQ9WE97JtIZjJtlmu4s4recO8+G6/JlvZwMslVgjfnTZunqMLUY0hob0459l7H6Cct9IClihMSMmLQLJCm0gfKGvKMCf/thvGVBD7V3xrYK2DwaYD3VOLjO+ouOHVwR0aAtXoJ9EufwHBAPyPVzW+/EwJ6i6aZ8ghqZQLF35Zm6ECzcwzLnZiNZB6wX56ZI4WQME0uKcX0XnSMcRQOAx5kJ7l3X8nZDqyth9DQ62uhiA6pDXU9Cdufvz3rMQjc/xdpIhiW9TpqNjFRbT3WoAAF2jPLO7jO8hfZ+geAn3gXanpN67x22JU2Y5PSQxgUX09YdmppxpcOP/ZqdvI3Z1wEjMEONZEWN3D7BqjUbdRHYSAss19LhvumUy6PBi7M5wM/NVCXQ+qZ9HSVSYNrQMag1RcLDADGHIRHZ9p0JBFZo/Lk5Vy8ZS/QjGvrFq/jMsyXFJ5gRrADk2cwqvta0+f4V/hlrILFVRg5wHTGTmhMlXk+Vbg4gOpSj6CG1//m94ijWppZ3zB0nJgM="
